.aboutMain {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;

    .img {
        height: 50%;
        width: 20%;
        background-color: azure;
        margin: 30px 140px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;

        img{
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }
    }

    .about {
        height: 80%;
        width: 40%;
        background-color: rgba(255, 255, 255, 0.753);
        margin: 100px -40px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: -19px;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            width: 80%;
            font-size: 1.2vw;
        }
    }
}

@media (max-width : 600px) {
    .aboutMain{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        .img{
            height: 40%;
            width: 30%;
            margin: 20px 30%;

            img{
            height: 100%;
            width: 100%;
            border-radius: 10px;
        }

        }
        .about{
            height: 70%;
            width: 80%;
            margin-left: 50px;
            margin-top: 10px;
            border-radius: 10px;
            p{
                font-size: 2.7vw;
            }
        }
    }
}