.HomeMain {
    height: 100%;
    width: 100%;
    display: flex;


    /* from is the style of message container */
    .welcomMsg {
        height: 100%;
        width: 100%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;

        .msg {
            height: 100%;
            width: 90%;
            background-color: rgba(248, 248, 248, 0.13);
            backdrop-filter: blur(10px);
            display: flex;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
            color: white;
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
            margin-top: 50px;

            h1 {
                font-size: 6vw;
                margin-top: 50px;
            }

            h2 {
                font-size: 5vw;
            }

            p {
                width: 60%;
                margin-top: 50px;
            }
        }
    }

}

@media (max-width:600px) {
    .HomeMain{
        .welcomMsg{
            height: 70%;
            width: 100%;
            margin-top: 10px;
            .msg{
                height: 100%;
                width: 100%;
                h1{
                    font-size: 10vw;
                    margin-top: 30px;
                }
                h2{
                    font-size: 7vw;
                }
                p{
                    width: 80%;
                    text-align: center;
                    margin-top: 40px;
                    font-size: 3.5vw;
                }
            }
        }
    }
}